<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/static/style.css" />
        <title>Link</title>
    </head>
    <body>
        <main>
        <h1>Clac.link</h1>
        {% if error %}
            <div class="error">
                {{error}}
            </div>
        {% endif %}
        <form action="/" method="POST">
            {% csrf_token %}
            <div>
            {{ form.link }}
            </div>
            <div class="center">
                <input type="submit" value="Save it !" class="">
            </div>
            
        </form>
        <div>
        <h2>Last five links:</h2>
        <ul>
            {% for link in list_link%}
            
            <a href="http://clac.link/{{link.key}}">
                <li>
                    <span class="link" >{{link.key}}</span>
                </li>
            </a>
            
            {%endfor%}
        </ul>
        </div>
        </main>
    </body>
</html>